:root {
    --carousel-background-color: rgba(0,0,0,0.9);
    --carousel-border: 4px solid rgba(255,255,255,1);
    --carousel-border-active: 4px solid rgb(30,30,30);
    --carousel-box-shadow: 2px 3px 9px rgba(0,0,0,0.3);
    --carousel-box-shadow-active:  2px 3px 9px rgba(0,0,0,0.9);
    --carousel-min-height:  200px;
}

.card .logo{
    box-shadow: var(--carousel-box-shadow);
}

.carousel {
    display: block;
    position: relative;
    min-height: var(--carousel-min-height);
    margin-bottom: 0;
    user-select: none;
    box-shadow: 2px 3px 9px rgba(0,0,0,0.3);
}
.carousel .hidden {
    visibility: hidden;
}
.carousel .center {
    position: absolute;
    border: var(--carousel-border);
    top: 0;
    width: 100%;
    min-height: var(--carousel-min-height);
    background-size: contain;
}

.carousel .rightToCenter{
    position: absolute;
    top: 0;
    width: 100%;
    min-height: var(--carousel-min-height);
    animation: rightToCenter-animation 0.2s forwards;
}
@keyframes rightToCenter-animation {
    0%{
        left: 550px;
    }
    100%{
        left: 0px;
    }
}

.carousel .leftToCenter{
    position: absolute;
    top: 0;
    width: 100%;
    min-height: var(--carousel-min-height);
    animation: leftToCenter-animation 0.2s forwards;
}
@keyframes leftToCenter-animation {
    0%{
        left: -550px;
    }
    100%{
        left: 0px;
    }
}

.carousel .item-buttons {
    border-left: var(--carousel-border);
    border-right: var(--carousel-border);
    border-bottom: var(--carousel-border);
    background-color: var(--carousel-background-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    text-align: center;
}
.carousel .item-buttons-selected {
    border-left: var(--carousel-border);
    border-right: var(--carousel-border);
    border-bottom: var(--carousel-border);
    background-color: var(--carousel-background-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    text-align: center;
}

.carousel .item-buttons .targeted, .carousel .item-buttons-selected .targeted {
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 6px 1px rgba(255, 255, 255, 0.8);
}

.carousel .title {
    font-family: Verdana, Impact, "Arial Black", sans-serif;
    position: absolute;
    top: 13%;
    left: 5%;
    width: 90%;
    background-color: var(--carousel-background-color);
    border: 2px solid rgba(0,0,0,0.9);
    border-radius: 0;
    color: white;
    font-size: large;
    text-shadow: 1px 1px 1px rgba(0,0,0,1), -1px -1px -1px rgba(0,0,0,1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
    cursor: pointer;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.carousel .carousel-item-image-selected .title{
    background-color: rgba(0,0,0,0.96);
    border-radius: 50px !important;
    font-weight: bold;
}

.carousel .badgeTitle{
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
    border-top: 1px solid rgba(255,255,255,1);
}

.carousel .title-enter {
    animation: 0.3s title-enter-annimation forwards;
}
@keyframes title-enter-annimation {
    0% {
        background-color: var(--carousel-background-color);
        border-radius: 0;
        color: white;
        box-shadow: var(--carousel-box-shadow);
        text-shadow: 1px 1px 1px rgba(0,0,0,1), -1px -1px -1px rgba(0,0,0,1);
    }
    100% {
        border-radius: 50px;
        background-color: rgba(0, 0, 0, 0.96);
        color: white;
        box-shadow: var(--carousel-box-shadow-active);
        text-shadow: 1px 1px 1px rgba(0,0,0,1), -1px -1px -1px rgba(0,0,0,1);
    }
}

.carousel .title-leave {
    animation: 0.3s title-leave-annimation forwards;
}
@keyframes title-leave-annimation {
    0% {
        background-color: rgba(0, 0, 0, 0.96);
        border-radius: 50px;
        color: white;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
        text-shadow: 1px 1px 1px rgba(0,0,0,1), -1px -1px -1px rgba(0,0,0,1);
    }
    100% {
        background-color: var(--carousel-background-color);
        border-radius: 0;
        color: white;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
        text-shadow: 1px 1px 1px rgba(0,0,0,1), -1px -1px -1px rgba(0,0,0,1);
    }
}

.cursorPointer {
    cursor: pointer;
}

.carousel-item-image{
    filter: grayscale(80%);
    box-shadow: 2px 3px 9px rgba(0,0,0,0);

}

.carousel-item-image-selected{
    filter: grayscale(0%) !important;
    border: var(--carousel-border) !important;
    box-shadow: 2px 3px 9px rgba(0,0,0,0.3)
}

.carousel-item-image-enter {
    animation: 0.3s carousel-item-image-hover-animation forwards;
}
@keyframes carousel-item-image-hover-animation {
    0%{
        filter: grayscale(80%);
    }
    100%{
        filter: grayscale(0%);
    }
}

.carousel-item-image-leave {
    animation: 0.3s carousel-item-image-animation forwards;
}
@keyframes carousel-item-image-animation {
    0%{
        filter: grayscale(0%);
    }
    100%{
        filter: grayscale(80%);
    }
}