.datebar {
    /*counter-reset: step;*/
}

.datebar li {
    list-style-type: none;
    position: relative;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

.datebar li .title {
    /*content: counter(step);*/
    /*counter-increment: step;*/
    width: 60px;
    height: 60px;
    line-height: 55px;
    border: 1px solid rgba(0,0,0,0.5);
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    color: rgba(0,0,0,0.5);
    animation: datebar-title-animation 0.1s ease-in forwards;
}
@keyframes datebar-title-animation {
    0%{
        border: 1px solid rgba(0, 87, 227,1);
        color: rgba(0, 87, 227,1);
    }
    50%{
        color: rgba(0,0,0,0.5);
        border: 1px solid rgba(0,0,0,0.5);
    }
    100%{
        color: rgba(0,0,0,0.5);
        border: 1px solid rgba(0,0,0,0.5);
    }
}

.datebar li.active .title {
    animation: datebar-title-active-animation 0.1s ease-in forwards;
}
@keyframes datebar-title-active-animation {
    0%{
        color: rgba(0,0,0,0.5);
        border: 1px solid rgba(0,0,0,0.5);
    }
    50%{
        color: rgba(0,0,0,0.5);
        border: 1px solid rgba(0,0,0,0.5);
        box-shadow: 0px 0px 0px #888888;
    }
    100%{
        border: 1px solid rgba(0, 87, 227,1);
        color: rgba(0, 87, 227,1);
        box-shadow: 1px 2px 3px rgba(0,0,0,0.4);
    }
}

/*datebar-title-active{*/
/*    border: 1px solid blue;*/
/*    color: blue;*/
/*}*/

.datebar-title-enter{
    animation: datebar-title-enter-animation 0.1s ease-in forwards;

}
@keyframes datebar-title-enter-animation {
    0% {
        color: #ddd;
        border: 1px solid rgba(0,0,0,0.5);
    }
    100% {
        color: white;
        background-color: rgba(0, 87, 227,1);
        border: 1px solid rgba(0, 87, 227,1);
    }
}

.datebar-title-leave{
    animation: datebar-title-leave-animation 0.1s ease-in forwards;
}

@keyframes datebar-title-leave-animation {
    0% {
        color: rgba(0, 87, 227,1);
    }
    100% {
        color: rgba(0,0,0,0.5);
    }
}


.datebar .link{
    content: '';
    position: absolute;
    top: 30px;
    left: -25px;
    width: 20px;
    height: 1px;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.datebar li .link-active{
    content: '';
    position: absolute;
    top: 30px;
    left: -25px;
    width: 20px;
    height: 1px;
    background-color: rgba(0, 87, 227,1);
    z-index: 1;
    animation: datebar-li-link 0.1s ease-in forwards;
}
@keyframes datebar-li-link {
    0% {
        width: 20px;
    }
    50% {
        width: 0;
    }
    100%{
        width: 0;
    }
}

.datebar li.active .link-active{
    animation: datebar-li-link-active 0.1s ease-in forwards;
}

@keyframes datebar-li-link-active {
    0% {
        width: 0;
        box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
    }
    50% {
        width: 20px;
        box-shadow: 1px 2px 3px rgba(0,0,0,0.4);
    }
    100%{
        width: 20px;
        box-shadow: 1px 2px 3px rgba(0,0,0,0.4);
    }
}

.datebar li:first-child .link, .datebar li:first-child .link-active{
    display: none !important;
}
