:root {
    --carousel-background-color: rgba(0, 0, 0, 0.9);
    --carousel-experience-background-color: rgba(71, 107, 4, 0.9);
    --carousel-qualification-color: rgba(0, 45, 110, 0.9);
}

.occurrence-list {
    border-top: 1px solid rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.15);
    min-height: 35px;
}

.occurrence-list:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.occurrence-list-selected {
    background-color: rgba(71, 107, 4, 0.5);
}

.logo-carousel {
    position: relative;
    color: white;
    top: -5px;
    left: -5px;
    z-index: 9999;
    background-color: var(--carousel-background-color);
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.logo-carousel-experience {
    background-color: var(--carousel-experience-background-color);
}

.logo-carousel-qualification {
    background-color: var(--carousel-qualification-color);
}

.timeline {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.timeline .gradualness {
    display: block;
    position: relative;
}

.timeline .gradualness .startPoint, .timeline .gradualness .endPoint {
    position: absolute;
    z-index: 1;
    border: 2px solid white;
    background-color: rgba(100, 100, 100, 1);
    width: 24px;
    height: 24px;
    border-radius: 12px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    top: -11px;
}

.timeline .gradualness .datePoint {
    position: absolute;
    z-index: 1;
    border: 2px solid white;
    background-color: rgba(0, 87, 227, 1);
    width: 24px;
    height: 24px;
    border-radius: 12px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    top: -11px;
}

.timeline .gradualness .progressbar {
    position: absolute;
    top: -2px;
    height: 2px;
    z-index: 9;
}

.timeline .gradualness .progressbar .background {
    display: block;
    background-color: rgba(0, 87, 227, 0.5);
    height: 5px;
    border-top: 1px solid rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.timeline .gradualness .start {
    position: absolute;
    top: 30px;
    transform: rotate(-90deg);
    z-index: 1;
}

.timeline .gradualness .end {
    position: absolute;
    top: 30px;
    transform: rotate(-90deg);
    z-index: 1;
}

.timeline .gradualness .date {
    position: absolute;
    top: 30px;
    font-weight: bold;
    transform: rotate(-90deg);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 12px;
}


.load {
    animation-name: occurrence-item-load;
    animation-delay: 0s;
    animation-duration: 0.975s;
    animation-iteration-count: initial;
    animation-timing-function:ease-in;
}

@keyframes occurrence-item-load {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
        /*margin-left: 1500px;*/
        /*margin-right: -1500px;*/
    }
    100% {
        opacity: 1;
        /*margin-left: initial;*/
        /*margin-right: initial;*/
    }
}

.animated{
    opacity: 1;
    animation-name: animated;
    animation-delay: 0s;
    animation-duration: 0.975s;
    animation-iteration-count: initial;
    animation-timing-function:ease-in;
}


@keyframes animated {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        /*margin-left: initial;*/
        /*margin-right: initial;*/
    }
}
