:root {
    --bg-color: rgba(0, 0, 0, 0);
    --primary-color: rgba(0, 0, 0, 0.95);
    --secondary-color: rgba(0, 0, 0, 0);
    --tertiary-color: rgba(0, 0, 0, 0.95);
    --quaternary-color: rgba(0, 0, 0, 0.95);
    --quiquenary-color: rgba(0, 0, 0, 0.95);
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-dark {
    background-color: var(--bg-color) !important;
}

.card {
    /*box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.3);*/
}

.occurrence-card {
    position: relative;
    border: 3px solid rgba(255, 255, 255, 0.9);
    border-radius: 0 0 0 0;
    /*margin-bottom: 150px;*/
}

.occurrence-card .card-header {
    background-color: var(--secondary-color);
    color: rgba(255, 255, 255, 1);
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.occurrence-card .card-body h4 {
    background-color: var(--secondary-color);
    padding-top: 6px;
    padding-bottom: 8px;
}

.occurrence-card .card-body .enterprise-logo {
    background-color: rgba(255, 255, 255, 0.5);
    min-width: 160px;
    min-height: 80px;
    line-height: 75px;
    /*border-radius: 40px;*/
    text-align: center;
    align-items: center;
    vertical-align: center;
    vert-align: middle;
    padding: 0;
}

.occurrence-card .card-body a .enterprise-logo:hover{
    box-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.occurrence-card .card-body .enterprise-logo img {
    max-width: 135px;
    max-height: 70px;
    border-radius: 35px;
}

.occurrence-card .logo {
    position: absolute;
    font-size: xx-large;
    top: -25px;
    right: -25px;
    padding: 0 0 0 1px;
    z-index: 9999;
    width: 60px;
    height: 60px;
    border-radius: 40px;
}

.qualification .logo {
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: rgba(0, 45, 110, 0.95);
    text-align: center;
}

.experience .logo {
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: rgba(71, 107, 4, 0.95);
    text-align: center;
}

.occurrence-card-logo-date {
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 11px;
    padding-right: 2px;
    width: 56px;
    height: 56px;
    border-radius: 29px;
    text-align: center;
}

.experience-technology-logo {
    max-height: 45px;
}

.google-map-link {
    background-image: url("/google-map.jpg");
    filter: grayscale(65%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
}

.google-map-link:hover {
    animation: google-map-enter-animation 0.2s ease-in forwards;
}

@keyframes google-map-enter-animation {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}

.google-map-link a {
    display: block;
    width: 100%;
    height: 100%;
    color: rgba(0, 87, 227, 1);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
    padding-top: 15px;
}

.google-map-link a:hover {
    text-decoration: none !important;
    animation: google-map-link-enter-animation 0.2s ease-in forwards;
}

@keyframes google-map-link-enter-animation {
    0% {
        border-radius: 0;
        font-weight: initial;
        font-size: initial;
    }
    100% {
        border-radius: 25px;
        color: rgba(63, 108, 191, 1);
        font-weight: bold;
    }
}
