:root {
    --primary-color:rgba(0, 0, 0, 0.95);
    --secondary-color:rgba(0, 0, 0,0.95);
    --tertiary-color:rgba(0, 0, 0,0.95);
    --quaternary-color:rgba(0, 0, 0,0.95);
    --quiquenary-color:rgba(0, 0, 0,0.95);
}

.bg-primary{
    background-color: var(--primary-color) !important;
}

.card {
    box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.3);
}

.occurrence-card {
    position: relative;
    border: 3px solid rgba(255, 255, 255, 0.9);
    border-radius: 0 0 0 0;
    /*margin-bottom: 150px;*/
}

.occurrence-card .card-header {
    border-radius: 0 25px 25px 25px;
    background-color: var(--secondary-color);
    color: rgba(255, 255, 255, 1);
}

.occurrence-card .card-body h4 {
    background-color: var(--secondary-color);
    color: rgba(255, 255, 255, 1);
    padding-top: 6px;
    padding-bottom: 8px;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
}

.occurrence-card .logo {
    position: absolute;
    font-size: xx-large;
    top: -25px;
    right: -25px;
    padding: 0 0 0 1px;
    z-index: 9999;
    width: 60px;
    height: 60px;
    border-radius: 40px;
}

.qualification .logo {
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: rgba(0, 45, 110, 0.95);
    text-align: center;
}

.experience .logo {
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: rgba(71, 107, 4, 0.95);
    text-align: center;
}

.occurrence-card-logo-date {
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 11px;
    padding-right: 2px;
    width: 56px;
    height: 56px;
    border-radius: 29px;
    text-align: center;
}

.experience-technology-logo {
    max-height: 45px;
}

.google-map-link {
    background-image: url("/google-map.jpg");
    filter: grayscale(65%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 75px;
}

.google-map-link:hover {
    animation: google-map-enter-animation 0.2s ease-in forwards;
}

@keyframes google-map-enter-animation {
    0% {
        filter: grayscale(65%);
        border-radius: 0;
    }
    100% {
        filter: grayscale(0%);
        border-radius: 25px;
    }
}

.google-map-link a {
    display: block;
    width: 100%;
    height: 100%;
    color: rgba(0, 87, 227, 1);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
    padding-top: 25px;
}

.google-map-link a:hover {
    text-decoration: none !important;
    animation: google-map-link-enter-animation 0.2s ease-in forwards;
}

@keyframes google-map-link-enter-animation {
    0% {
        border-radius: 0;
        padding-top: 25px;
        font-weight: initial;
        font-size: initial;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0);
        text-shadow: 2px 3px 6px rgba(0, 0, 0, 0);
    }
    100% {
        border-radius: 25px;
        color: rgba(255, 255, 255, 0.9);
        padding-top: 17px;
        font-weight: bold;
        font-size: x-large;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
        text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.8);
    }
}

.btn-group .btn-primary {
    min-width: 80px;
    padding-bottom: 10px;
    font-size: large;
}

.btn-primary {
    /*border: 1px solid rgba(0, 87, 227, 1);*/
    border: 1px solid rgba(255, 255, 255, 0.7);
    /*color: rgba(0, 87, 227, 1);*/
    /*border-radius: 25px;*/
    width: 50px;
    height: 50px;
    /*box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);*/
}

.btn-primary:hover {
    border: 1px solid rgba(0, 87, 227, 1);
    color: white;
    background-color: rgba(0, 87, 227, 1);
}
.occurrence-card-menu {
    /*margin-top: -75px;*/
    /*margin-left: -75px;*/
    /*transform: rotate(25deg);*/
}

.occurrence-card-menu .btn-group .btn-primary{
    min-width: 50px !important;
}

.outer {
    writing-mode: tb-rl;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;

    margin-top:70px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);

}

.inner {
    transform: rotate(-90deg);
    text-align: left;
    min-width: 150px;
}
