.auth-form {
    background-color: #ffffff;
    border: 3px solid rgba(255,255,255,0.9);
    /*border-radius: 0 25px 0 25px;*/
    padding: 50px;
    position: fixed;
    width: 40%;
    min-height: 150px;
    visibility: hidden;
    z-index: 9999999999;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
}

.auth-form-on {
    animation: auth-form-on-animation 0.2s ease-in forwards;
    overflow: hidden;
    /*border-radius: 0 25px 0 25px;*/
}

@keyframes auth-form-on-animation {
    0%{
        visibility: hidden;
        /*border-radius: 0 25px 0 25px;*/
    }
    1% {
        visibility: visible;
        top: 25%;
        left: 100%;
        width: 40%;
        /*border-radius: 0 25px 0 25px;*/
    }
    100% {
        top: 25%;
        left: 30%;
        visibility: visible;
        /*border-radius: 0 25px 0 25px;*/
    }
}

.auth-form-off {
    animation: auth-form-off-animation 0.2s ease-in forwards;
}

@keyframes auth-form-off-animation {
    0% {
        top: 25%;
        left: 30%;
        visibility: visible;
        /*border-radius: 0 25px 0 25px;*/
    }
    99% {
        top: 25%;
        left: -60%;
        /*border-radius: 0 25px 0 25px;*/
    }
    100%{
        top: 25%;
        left: -60%;
        visibility: hidden;
        /*border-radius: 0 25px 0 25px;*/
    }
}