.jumbotron {
    position: relative;
    background-color: rgba(0,0,0,0.5);
    border-radius: 0;
    margin-top:0;
    margin-bottom: 25px;
    box-shadow: 1px 0px 10px rgba(0,0,0,0.1);
    color: chocolate;
}

.jumbotron .utils {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1000;
}

.jumbotron .utils a, .jumbotron .utils button {
    font-size: x-large;
    box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.5);
    padding: 10px 35px 10px 35px;
    margin-left: 10px;
}

.jumbotron a:hover, .jumbotron .utils button:hover {
    font-weight: bold;
    box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.8);
}

.jumbotron .utils .btn-danger{
    background-color: chocolate;
    border-color: chocolate;
}

.jumbotron .utils .btn-danger:hover{
    background-color: #a64800;
    border-color: #a64800;
}
.jumbotron .utils .btn-primary{
    background-color: steelblue;
    border-color: steelblue;
}

.jumbotron .utils .btn-primary:hover{
    background-color: #1d5d93;
    border-color: #1d5d93;
}

.msg-copy-email {
    position: absolute;
    background-color: rgba(255,255,255,1);
    width: 200px;
    top: 0;
    right: 0;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.8);
    z-index: 1001;

    animation: msg-copy-animation ease-in 1s;
}

.msg-copy-email-disabled {
    display: none;

}

@keyframes msg-copy-animation {
    0% {
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        display: none;
    }
}
