html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

#root {
    background-color: rgba(0, 0, 0, 0.65);
}

.App {
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: chocolate;
}

.codeBlue {
    font-size: large;
    color: steelblue;
}

.codeOrange {
    font-size: large;
    color: chocolate;
}

.codeLightBlue {
    font-size: large;
    color: #44baed;
}

.title-show-animation {
    animation-name: title-show-animation;
    animation-delay: 0s;
    animation-duration: 0.975s;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
    overflow: hidden;
}

@keyframes title-show-animation {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.date-show-animation {
    animation-name: date-show-animation;
    animation-delay: 0s;
    animation-duration: 0.975s;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
    overflow: hidden;
}
@keyframes date-show-animation {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*@keyframes date-show-animation {*/
/*    0% {*/
/*        opacity: 0;*/
/*        padding: 0;*/
/*        height: 0;*/
/*    }*/
/*    70% {*/
/*        opacity: 1;*/
/*        padding: 0;*/
/*        height: 0;*/
/*    }*/
/*    100% {*/
/*        padding: 2px;*/
/*        height: 34px;*/
/*    }*/
/*}*/
